version: '3.8'
services:
  database:
    image: mariadb:10.6
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./pterodactyl-data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=pterodactyl
      - MYSQL_PASSWORD=pterodactyl
      - MYSQL_DATABASE=panel
      - MYSQL_USER=pterodactyl

  cache:
    image: redis:6.2-alpine
    restart: unless-stopped

  panel:
    image: ghcr.io/pterodactyl/panel:latest
    restart: unless-stopped
    ports:
      - "8080:80" # Pterodactyl Panel UI
    links:
      - database
      - cache
    volumes:
      - ./pterodactyl-data/panel-var/:/var/www/html/var/
      - ./pterodactyl-data/panel-nginx/:/etc/nginx/sites-enabled/
      - ./pterodactyl-data/panel-certs/:/etc/ssl/certs/
    environment:
      - APP_URL=http://localhost
      - DB_HOST=database
      - DB_PORT=3306
      - DB_DATABASE=panel
      - DB_USERNAME=pterodactyl
      - DB_PASSWORD=pterodactyl
      - REDIS_HOST=cache
      - REDIS_PORT=6379

  wings:
    image: ghcr.io/pterodactyl/wings:latest
    restart: unless-stopped
    ports:
      - "8081:8080" # Wings Daemon Port
      - "2022:2022"   # Wings SFTP
      - "25565-25575:25565-25575" # Minecraft Server Ports
    tty: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./pterodactyl-data/wings-lib/:/var/lib/pterodactyl
      - ./pterodactyl-data/wings-etc/:/etc/pterodactyl
      - ./pterodactyl-data/panel-certs/:/etc/ssl/certs/
