version: '3.8'

services:
  database:
    image: mariadb:10.9
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./dragon-data/database:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=changemeinproduction
      - MYSQL_PASSWORD=changeme
      - MYSQL_DATABASE=panel
      - MYSQL_USER=dragon

  cache:
    image: redis:7.0-alpine
    restart: unless-stopped

  panel:
    image: ghcr.io/dragon-panel/panel:latest
    restart: unless-stopped
    ports:
      - "8080:80" # Dragon Panel Web UI
    links:
      - database
      - cache
    volumes:
      - ./dragon-data/panel/var/:/app/var/
      - ./dragon-data/panel/nginx/:/etc/nginx/http.d/
      - ./dragon-data/panel/certs/:/etc/ssl/certs/
    environment:
      - APP_URL=http://localhost
      - DB_HOST=database
      - DB_PORT=3306
      - DB_DATABASE=panel
      - DB_USERNAME=dragon
      - DB_PASSWORD=changeme
      - REDIS_HOST=cache
      - REDIS_PORT=6379

  daemon:
    image: ghcr.io/dragon-panel/daemon:latest
    restart: unless-stopped
    ports:
      - "2021:2021" # Daemon API
      - "2022:2022" # Daemon SFTP
      - "25565-25575:25565-25575" # Minecraft Server Ports
    tty: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./dragon-data/daemon/config:/app/config
      - ./dragon-data/daemon/servers:/var/lib/dragon
